* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  -webkit-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out; }

#time {
  font-size: 10rem; }

#date {
  font-size: 4.5rem; }

h1 {
  margin-bottom: 3rem; }

h2 {
  margin-bottom: 0.0rem;
  opacity: 0.8; }

#nextBtn {
  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin-top: 40px; }
  #nextBtn:hover {
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
    cursor: pointer; }
  #nextBtn:active {
    outline: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer; }
  #nextBtn:focus {
    outline: 0;
    cursor: pointer; }

#quote {
  font-size: 1.5rem;
  max-width: 500px; }

#quoteBtn {
  position: absolute;
  top: 50px;
  right: 40px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 150px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border: 0; }
  #quoteBtn:hover, #quoteBtn:focus, #quoteBtn:active {
    background: #fff;
    color: #000;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    cursor: pointer; }

@media (max-width: 700px) {
  #time {
    font-size: 4rem; }
  #date {
    font-size: 4rem; }
  #nextBtn {
    width: 40px;
    height: 40px; }
  #quoteBtn {
    position: absolute;
    bottom: 20px; }
  #quote {
    position: absolute;
    bottom: 80px; } }
